@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1900px !important;
    }
}

.rst-versions.rst-badge {
    display: none !important;
}

.bd-sidebar div.navbar_extra_footer {
    display: none !important;
}

.full-screen-button {
    display: none;
}